//* 🇫🇷 Importation des polices google - 🇺🇸 Import google fonts

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap");

//* 🇫🇷 Choix des couleurs utilisées dans le projet
//* 🇺🇸 Choice of colors ion the project

$font1: "Saira Condensed", sans-serif;
$font2: "Baloo Bhaina 2", cursive;
$color1: #9ce201; //00b7b3 
$green3: #8BAC35;
$green2: #00fd94;
$green1: #02ac51;
$red1: #ff6f56;
$red2: #fb453f;
$white1: #dbd9d9;
$white2: #acacac;
$black1: #1f1f1f;
$black2: #0a0a0a;
$shadow: 0 5px 15px #00000052;


//* 🇫🇷 Exportation des couleurs dans une variable
//* 🇺🇸 Exportcolors on a var
:export {
  color1: $color1;
  green3: $green3;
  green2: $green2;
  green1: $green1;
  red1: $red1;
  red2: $red2;
  black1: $black1;
  black2: $black2;
  white1: $white1;
  white2: $white2;
  shadow: $shadow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//* 🇫🇷 Pour le "ToTop" effet de retour en haut de page - 🇺🇸 With "ToTop" effect to return to the top of the page
html {
  scroll-behavior: smooth;
}

body {
  background: url(../assets/wave.svg) center/cover;
  background-size: 2000%;
  font-family: $font1;
  color: $white1;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
//* 🇫🇷 Retrait des décoration des liens et des listes
//* 🇺🇸 Remove the decoration of the links and lists
li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}
//* 🇫🇷 Pour empêcher le clic sur les labels
//* 🇺🇸 To prevent the click on the labels
label {
  user-select: none;  
}

//* 🇫🇷 Pour le "ToTop" effet d'animation et keyframe sur l'icone de retour en haut de page - 🇺🇸 With "ToTop" effect to animation and keyframe on the icon to return to the top of the page
.top {
  margin: 10px auto 30px;
  text-align: center;
  animation: animLogo 1.2s infinite linear;
  user-select: none;

  img {
    height: 22px;
    transition: transform 0.4s; 
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }
//* 🇫🇷 Animation de l'icone de retour en haut de page - 🇺🇸 Animation of the icon to return to the top of the page
  @keyframes animLogo { 
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translate(0);
    }
  }
}
